*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}
.container{
   //    border:1px solid;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}